<div class="footer">
    <div class="footer-top">
        <a class="footer-img"></a>
        <div class="footer-box">
            <p class="footer-p">产品资料</p>
            <a href="https://download.meixincdn.com/mxoffice/gomeplus/help/Aeromind产品介绍.pdf" target="_blank" class="footer-a">产品介绍</a>
            <a href="https://download.meixincdn.com/mxoffice/gomeplus/help/Aeromind员工使用手册.pdf" target="_blank" class="footer-a">员工使用手册</a>
            <a href="https://download.meixincdn.com/mxoffice/gomeplus/help/Aeromind管理员使用手册.pdf" target="_blank" class="footer-a">管理员使用手册</a>
        </div>
        <div class="footer-box footer-mar">
            <p class="footer-p" target="top:0px">关于我们</p>
            <a href="/aboutus" class="footer-a" target="_parent">公司介绍</a>
            <a href="/contactus" class="footer-a" target="_parent">联系我们</a>
            <a href="/team" class="footer-a" target="_parent">团队成员</a>
        </div>
        <div class="footer-box last footer-mar">
            <p class="footer-p">联系方式</p>
            <span class="footer-a">邮箱：<a href="mailto:camelwu963@126.com" title="反馈问题" class="footer-mail">camelwu963@126.com</a></span>
            <span class="footer-a">热线：18910763350</span>
            <span class="footer-a">周一至周日 9:00-21:00</span>
        </div>
    </div>
    <div class="footer-bottom">
        <p>©2003 河洛文化技术有限公司版权所有  公安备案号：渝ICP备15012739号-1</p>
   </div>
</div>