<!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="blog-masthead">
	<div class="container">
		<nav class="blog-nav">
		<a class="blog-nav-item active" href="/">首页</a>
		<a class="blog-nav-item" href="/blog">博客</a>
		<a class="blog-nav-item" href="/login">登录</a>
		<a class="blog-nav-item" href="/reg">注册</a>
		<a class="blog-nav-item" href="/chat">聊天</a>
		</nav>
	</div>
</div>
